ansible==4.9.0
ansible-core==2.11.7
awscli==1.22.23
boto3==1.20.23
botocore==1.23.23
cffi==1.15.0
colorama==0.4.3
cryptography==36.0.0
docutils==0.15.2
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
pyasn1==0.4.8
pycparser==2.21
pyparsing==3.0.6
python-dateutil==2.8.2
PyYAML==5.4.1
resolvelib==0.5.5
rsa==4.7.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.7
